# Example of Number operations

In [2]:
12 + 89

101

In [5]:
a = 123 / 22
print(a)

5.590909090909091

In [6]:
b = a*8
print(b)

44.72727272727273

In [3]:
2 ** 5

32

In [1]:
52+48

100

In [2]:
52*4.5

234.0

In [3]:
temp=53
val=temp/5
print(val)

10.6

In [4]:
2**3

8

In [11]:
t1=1
t2=1*3600
print(t2)

3600

# Import Class

In [8]:
import math
math.pi

3.141592653589793

In [10]:
math.sqrt(15)

3.872983346207417

In [11]:
print(1+2)
print(a*4)
print(a/b)

3
22.363636363636363
0.125

In [21]:
import math
val=25
print(math.sqrt(val))

5.0

In [13]:
import random
random.random()
print(10*random.random())

3.5924880937368164

In [26]:
random.choice([12,32,12,323])

12

In [28]:
print(random.choice([12,32,12,323]))
print(random.choice([12,32,12,323]))
print(random.choice([12,32,12,323]))

12
32
32

In [30]:
v1=(random.choice([12,32,12,323]))
print(v1,v1*5)
v1=(random.choice([12,32,12,323]))
print(v1,v1*5)
v1=(random.choice([12,32,12,323]))
print(v1,v1*5)

12 60
32 160
323 1615

# Check object type

In [35]:
print(type(a))
print(type(b))

NameError: name 'a' is not defined

In [14]:
c = 123
print(type(c))

<class 'int'>

In [15]:
d = '123'
print(type(d))

<class 'str'>

In [31]:
s=[12,'Jawad',['Jawad','Hasan'],4.5]
print(type(s))

<class 'list'>

In [32]:
print(type(4.5444))

<class 'float'>

In [37]:
print(type((10000000000000000)))

<class 'int'>

# Example of String operations

In [18]:
name = 'asif "rahman'
print(name)

asif "rahman

In [19]:
name = "asif 'rahman"
print(name)

asif 'rahman

In [22]:
'asif ' * 5

'asif asif asif asif asif asif asif '

In [24]:
'asif '+'rahman'

'asif rahman'

In [32]:
name = 'Afsar Mahmud sayed'
sub = 'sar'
name.count(sub)

1

In [60]:
name[0:5]

'Afsar'

In [56]:
name[-3:]

'yed'

In [33]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
name.islower()

False

In [35]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [37]:
separator = '=='
mystrings = ['Himel', 'Liton', 'Hasan']
separator.join(mystrings)

'Himel==Liton==Hasan'

In [38]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [45]:
name="MD.JAWADUL HASAN"
print(name)

MD.JAWADUL HASAN

In [42]:
len(name)

16

In [46]:
print(name[0:2])

MD

In [48]:
print(name[0:8])

MD.JAWAD

In [50]:
print(name[3:8])

JAWAD

In [51]:
print(name[-5:])

HASAN

In [52]:
name.islower()

False

In [53]:
name.isupper()

True

In [55]:
name2=name.find('HASAN')
print(name2)

11

In [59]:
print(name.lower())

md.jawadul hasan

In [63]:
print((name[-6:])* 5)

 HASAN HASAN HASAN HASAN HASAN

In [67]:
name3=name[:]
print(name3)
name3+=' ISHAN'
print(name3)

MD.JAWADUL HASAN
MD.JAWADUL HASAN ISHAN

In [72]:
nm=(name.replace('HASAN',''))
print(nm)

MD.JAWADUL

In [76]:
print(name.split(','))

['MD.JAWADUL HASAN']

In [77]:
name='''
MD. JAWADUL 
HASA
'''
print(name)

MD. JAWADUL
HASA

# List

In [81]:
data = [21,['rahman', 56000], 4.50, 'Dhaka']

In [61]:
data[0]

[21, ['rahman', 56000]]

In [63]:
data[0:2]

[21, ['rahman', 56000]]

In [45]:
data[1]

['rahman', 56000]

In [46]:
data[1][0]

'rahman'

In [47]:
len(data)

4

In [50]:
data[-1]

'Dhaka'

In [64]:
data

[21, ['rahman', 56000], 4.5, 'Dhaka']

In [68]:
data.append(100)
print(data)

[21, ['rahman', 56000], 4.5, 'Dhaka', 100, 100]

In [72]:
data.remove(4.5)
print(data)

[21, ['rahman', 56000], 'Dhaka', 100, 100]

In [73]:
data.pop(1)
print(data)

[21, 'Dhaka', 100, 100]

In [82]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [108]:
info=['JAWAD',['Shibchar','Madaripur'],'01707615220',21,76]
print(info)

['JAWAD', ['Shibchar', 'Madaripur'], '01707615220', 21, 76]

In [109]:
print(info[0])

JAWAD

In [110]:
print(info[0:2])

['JAWAD', ['Shibchar', 'Madaripur']]

In [111]:
print('District : '+info[1][1])

District : Madaripur
['JAWAD', ['Shibchar', 'Madaripur'], '01707615220', 21, 76]

In [112]:
print('Phone No : '+info[-3])

Phone No : 01707615220
['JAWAD', ['Shibchar', 'Madaripur'], '01707615220', 21, 76]

In [113]:
info.append('AIUB')
print(info)

['JAWAD', ['Shibchar', 'Madaripur'], '01707615220', 21, 76, 'AIUB']

In [114]:
info.remove('AIUB')
print(info)

['JAWAD', ['Shibchar', 'Madaripur'], '01707615220', 21, 76]

In [121]:
item=[12,2,13,4,]
print(item)
item.sort()
print(item)
item.pop()
print(item)
item.reverse()
print(item)

[12, 2, 13, 4]
[2, 4, 12, 13]
[2, 4, 12]
[12, 4, 2]

In [125]:
Mat = [[1, 2, 3], 
     [4, 5, 6],
     [7, 8, 9]]
print(Mat)
print(Mat[0][1])
Mat[0][1]=90
print(Mat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2
[[1, 90, 3], [4, 5, 6], [7, 8, 9]]

In [134]:
numbers=[5,45,4,5,7]
numbers.append(20)
numbers.pop()
print(numbers.index(45))
print(5 in numbers)

1
True

# Dictionary

In [74]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [76]:
person['Rating']

4.5

In [25]:
len(person)

4

In [78]:
#person.has_key('Name')
'Name' in person.keys()

True

In [79]:
'niaz' in person['Name']

True

In [80]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [126]:
student={
    "Name":"Md.Jawadul Hasan",
    "Age" :21,
    "Is_Student":True
}
print(student)

{'Name': 'Md.Jawadul Hasan', 'Age': 21, 'Is_Student': True}

In [127]:
print(len(student))

3

In [128]:
print(student["Name"])

Md.Jawadul Hasan

In [129]:
'Jawad' in student['Name']

True

In [135]:
student["Bday"]="Jan 25 20001"
print(student["Bday"])

Jan 25 20001

In [136]:
print(student)

{'Name': 'Md.Jawadul Hasan', 'Age': 21, 'Is_Student': True, 'Bday': 'Jan 25 20001'}