# User Input

In [1]:
a = 21
print(a)

21

In [2]:
a = input() # always returns string
print(a)

In
In

In [ ]:
a = int(input('Enter a number: ')) # always returns string
print(a + 23)

In [17]:
name = input('Enter your name: ') # always returns string
print('Your name is ' + name)

Enter your name: 1234
Your name is 1234

# Loop

In [22]:
numbers = [1, 56, 78, 8]

for n in numbers:
    print(n)
    print('ok')
print('not')

1
ok
56
ok
78
ok
8
ok
not

In [30]:
for i in range(len(numbers)):
    print(numbers[i])

1
56
78
8

In [29]:
# for(i=0; i<10; i++){}
# range
for i in range(2,100,5):
    print(i, end = ' ')

2 7 12 17 22 27 32 37 42 47 52 57 62 67 72 77 82 87 92 97

Enter number: 89
89

In [39]:
# print even number
for i in range(0,10,2):    
    print(i)

0
2
4
6
8

In [40]:
# print even number
for i in range(10):  
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [41]:
# print even number
for i in range(10):  
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8

In [43]:
# indent
i = 7
if i < 5: # () not required, {} not required
    print('okay')
    print('fine')
else:
    print('bad')
print('not okay') # will be executed in each run

bad
not okay

In [15]:
# loop
for i in range(10,100,10):
    print(i)
    print("ok")
print("done")

10
ok
20
ok
30
ok
40
ok
50
ok
60
ok
70
ok
80
ok
90
ok
done

In [ ]:
myjob = "bangladesh"
for c in 'myjob': 
    print(c,end='\n')

# IF, IF ELSE, ELSE IF

In [46]:
# if
a = 1
if a > 2:
    print ('greater')

In [47]:
# if-else
a = 1
if a > 2:
    print ('greater')
else:
    print( 'smaller')

smaller

In [51]:
a = 77
if a < 10:
    print('small')
elif a < 20:
    print('medium')
elif a < 50:
    print('larger')
else:
    print('out of range')

out of range

# Method

In [2]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [9]:
addnumbers(18, 9) # use or call method

27

In [55]:
addnumbers(33, 66)

99

In [58]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [60]:
v = [5, 4,12, 7]
addValues(v)

28

In [61]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [63]:
# task: write a method which will add numbers of two different lists
# returns another list
# Example:
# [3,4,5,1]
# [6,7,2,8]
# output: [9,11,7,9]

# Tas 1: Solution :->

In [7]:
def AddTwoList(list1,list2):
    List3 = []
    for x in range(len(list1)):
        List3.append(list1[x]+list2[x])

    return List3
First_List=[3,4,5,1]
Second_List=[6,7,2,8]

Final_List=AddTwoList(First_List,Second_List)

print(Final_List)

[9, 11, 7, 9]

In [5]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [69]:
multiTable(17,15)

17X1=17
17X2=34
17X3=51
17X4=68
17X5=85
17X6=102
17X7=119
17X8=136
17X9=153
17X10=170
17X11=187
17X12=204
17X13=221
17X14=238
17X15=255

In [6]:
multiTable(2)

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

In [ ]:
# task
# define a method to print first name and last name from full name

# ex: input: Arafat Rahman 
# output: 
#first name: Arafat
#last name: Rahman

# getNames('Arafat Rahman')
 def getNames():
        #define logic

# Task 2 Solution :->

In [12]:
def GetNames(fullname):
    name = fullname.split()
    if((len(name))==1):
        print(f"First Name : {name[0]}")
        print("No Last Name Here")

    else :
        print(f"First Name : {name[0]}")
        print(f"Last Name : {name[-1]}")



GetNames('MD. Jawadul Hasan')
print("\n")
GetNames('MD. JAWADUL')
print("\n")
GetNames('JAWAD')

First Name : MD.
Last Name : Hasan


First Name : MD.
Last Name : JAWADUL


First Name : JAWAD
No Last Name Here

## Lesson 2 (String)

In [36]:
s1="JAWAD"
block = """
This is Block
""" 
print(block)

This is Block

In [12]:
s2 = "spam's"
s3 = r'\temp\spam'
s4 = u'spam'
print(s2)
print(s3)
print(s4)


# s1 + s2
# s2 * 3
# s2[i]
# s2[i]
# len(s2)

spam's
\temp\spam
spam

In [14]:
print(s2 + s2) #concat

spam'sspam's

In [17]:
print(s2 * 3)
print(s2[1])
print(s2[1:])

spam'sspam'sspam's
p
pam's

In [18]:
print(s2.find('pa'))

1

In [23]:
# s2.rstrip( )
# s2.replace('pa', 'xx')
# s1.split(',')
# s1.isdigit( )
# s1.lower( )

s2.rstrip()
print(s2)

spam's

In [33]:
print(s1.isdigit( ))

False

In [40]:
print(s1)
print(s1.lower())

JAWAD
jawad

In [41]:
title = "Meaning " 'of' " Life"
print(title)

Meaning of Life

In [44]:
s = 'a\nb\tc'
print(s)

a
b	c

In [46]:
len(s)

5

In [48]:
s = 'a\0b\0c'
print(s)
len(s)

a b c

5

In [50]:
s = '\001\002\x03'
print(s)



In [51]:
x = "C:\py\code"
print(x)

C:\py\code

In [52]:
len(x)

10

In [55]:
mantra = """Always look
... on the bright
... side of life."""

print(mantra)

Always look
on the bright
side of life.

Lesson 3 (List and Dictionaries)

In [59]:

len('abc') # Length: number of items
'abc' + 'def' # Concatenation: a new string
'abcdef'
'Ni!' * 4 # Repetition: like "Ni!" + "Ni!" + ...
'Ni!Ni!Ni!Ni!'

'Ni!Ni!Ni!Ni!'

In [63]:
myjob = "hacker"
for c in myjob:
    print (c)

h
a
c
k
e
r

In [64]:
name="Python second week"
len(name)

18

In [65]:
print(name[0:2])
print(name[0:4])
print(name[4:6])

Py
Pyth
on

In [66]:
>>> ord('s')
115
>>> chr(115)
's'

's'

In [67]:
>>> S = '5'
>>> S = chr(ord(S) + 1)
>>> S
'6'
>>> S = chr(ord(S) + 1)
>>> S

'7'

In [69]:
S = 'spam'
S = S + 'SPAM!'
S = S[:4] + 'Burger' + S[-1]
print(S)

spamBurger!

In [70]:
>>> S = 'splot'
>>> S = S.replace('pl', 'pamal')
>>> S

'spamalot'

In [73]:
>>> x = 1.23456789
print(x)
>>> '%e | %f | %g' % (x, x, x)

1.23456789

'1.234568e+00 | 1.234568 | 1.23457'

In [75]:
>>> S = 'a+b+c+'
>>> x = S.replace('+', 'spam')
print(x)

aspambspamcspam

In [136]:
>>> mel = {'name': 'Mark',
 'jobs': ['trainer', 'writer'],
 'web': 'www.rmi.net/~lutz',
'home': {'state': 'CO', 'zip':80513}}

In [137]:
>>> mel['name']
'Mark'
>>> mel['jobs']
['trainer', 'writer']
>>> mel['jobs'][1]
'writer'
>>> mel['home']['zip']

80513

In [138]:
>>> dict.fromkeys(['a', 'b'], 0)

{'a': 0, 'b': 0}

# Lesson 3 (List and Dictionaries)

In [78]:

>>> len([1, 2, 3]) # Length
3
>>> [1, 2, 3] + [4, 5, 6] # Concatenation
[1, 2, 3, 4, 5, 6]
>>> ['Ni!'] * 4 # Repetition
['Ni!', 'Ni!', 'Ni!', 'Ni!']
>>> 3 in [1, 2, 3] # Membership

>>> for x in [1, 2, 3]:
    print (x)

1
2
3

In [80]:
str([1, 2]) + "34" # Same as "[1, 2]" + "34"
'[1, 2]34'
[1, 2] + list("34") # Same as [1, 2] + ["3", "4"]
[1, 2, '3', '4']

[1, 2, '3', '4']

In [81]:
>>> L = ['spam', 'Spam', 'SPAM!']
>>> L[2] # Offsets start at zero
'SPAM!'
>>> L[-2] # Negative: count from the right
'Spam'
>>> L[1:] # Slicing fetches sections
['Spam', 'SPAM!']

['Spam', 'SPAM!']

In [90]:
 matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [91]:

print(matrix[1][1])

5

In [92]:
>>> matrix[1]
[4, 5, 6]
>>> matrix[1][1]
5
>>> matrix[2][0]
7
>>> matrix = [[1, 2, 3],
... [4, 5, 6],
... [7, 8, 9]]
>>> matrix[1][1]

5

In [93]:
>>> L = ['spam', 'Spam', 'SPAM!']
>>> L[1] = 'eggs' # Index assignment
>>> L
['spam', 'eggs', 'SPAM!']
>>> L[0:2] = ['eat', 'more'] # Slice assignment: delete+insert
>>> L # Replaces items 0,1
['eat', 'more', 'SPAM!']

['eat', 'more', 'SPAM!']

In [94]:
>>> L = ['spam', 'Spam', 'SPAM!']
>>> L[1] = 'eggs' # Index assignment
>>> L
['spam', 'eggs', 'SPAM!']
>>> L[0:2] = ['eat', 'more'] # Slice assignment: delete+insert
>>> L # Replaces items 0,1
['eat', 'more', 'SPAM!']

['eat', 'more', 'SPAM!']

In [95]:
>>> L = [1, 2]
>>> L.extend([3,4,5]) # Append multiple items
>>> L
[1, 2, 3, 4, 5]
>>> L.pop( ) # Delete and return last item
5
>>> L
[1, 2, 3, 4]
>>> L.reverse( ) # In-place reversal
>>> L
[4, 3, 2, 1]

[4, 3, 2, 1]

In [96]:
>>> L = []
>>> L.append(1) # Push onto stack
>>> L.append(2)
>>> L
[1, 2]
>>> L.pop( ) # Pop off stack
2
>>> L

[1]

In [97]:
>>> L
['SPAM!', 'eat', 'more', 'please']
>>> del L[0] # Delete one item
>>> L
['eat', 'more', 'please']
>>> del L[1:] # Delete an entire section
>>> L # Same as L[1:] = []
['eat']

['eat']

In [98]:
>>> L = ['Already', 'got', 'one']
>>> L[1:] = []
>>> L
['Already']
>>> L[0] = []
>>> L
[[]]

[[]]

In [101]:
d2 = {'spam': 2, 'ham': 1, 'eggs': 3}
>>> d2['ham'] = ['grill', 'bake', 'fry'] # Change entry
>>> d2
{'eggs': 3, 'spam': 2, 'ham': ['grill', 'bake', 'fry']}
>>> del d2['eggs'] # Delete entry
>>> d2
{'spam': 2, 'ham': ['grill', 'bake', 'fry']}
>>> d2['brunch'] = 'Bacon' # Add new entry
>>> d2
{'brunch': 'Bacon', 'spam': 2, 'ham': ['grill', 'bake', 'fry']}

{'brunch': 'Bacon', 'spam': 2, 'ham': ['grill', 'bake', 'fry']}

In [103]:
>>> d2 = {'spam': 2, 'ham': 1, 'eggs': 3}
>>> d2.values( )
[3, 1, 2]
>>> d2.items( )

dict_items([('spam', 2), ('ham', 1), ('eggs', 3)])

In [104]:
>>> d2.get('spam') # A key that is there
2
>>> d2.get('toast') # A key that is missing
None
>>> d2.get('toast', 88)

88

In [105]:
>>> d2
{'eggs': 3, 'ham': 1, 'spam': 2}
>>> d3 = {'toast':4, 'muffin':5}
>>> d2.update(d3)
>>> d2

{'spam': 2, 'ham': 1, 'eggs': 3, 'toast': 4, 'muffin': 5}

In [106]:
>>> d2
{'toast': 4, 'muffin': 5, 'eggs': 3, 'ham': 1, 'spam': 2}
>>> d2.pop('muffin')
5
>>> d2.pop('toast') # Delete and return from a key
4
>>> d2
{'eggs': 3, 'ham': 1, 'spam': 2}
# pop a list by position
>>> L = ['aa', 'bb', 'cc', 'dd']
>>> L.pop( ) # Delete and return from the end
'dd'
>>> L
['aa', 'bb', 'cc']
>>> L.pop(1) # Delete from a specific position
'bb'
>>> L
['aa', 'cc']

['aa', 'cc']

In [115]:
>>> table = {'Python': 'Guido van Rossum',
'Perl': 'Larry Wall',
'Tcl': 'John Ousterhout' }


for lang in table.keys( ):
     print (table[lang])

Guido van Rossum
Larry Wall
John Ousterhout

In [119]:
>>> D = {}
>>> D[99] = 'spam'
>>> D[99]

'spam'

In [120]:
>>> D = {}
>>> D[99] = 'spam'
>>> D[99]

'spam'

In [125]:
rec = {}
>>> rec['name'] = 'mel'
>>> rec['age'] = 45
>>> rec['job'] = 'trainer/writer'

# Lesson 4 (Tuples)

In [126]:
>>> (1, 2) + (3, 4) # Concatenation
(1, 2, 3, 4)
>>> (1, 2) * 4 # Repetition
(1, 2, 1, 2, 1, 2, 1, 2)

(1, 2, 1, 2, 1, 2, 1, 2)

In [127]:
T = (1, 2, 3, 4) # Indexing, slicing
>>> T[0], T[1:3]

(1, (2, 3))

In [128]:
>>> x = (40) # An integer
>>> x
40
>>> y = (40,) # A tuple containing an integer
>>> y

(40,)

In [132]:
T = ('cc', 'aa', 'dd', 'bb')
>>> tmp = list(T) # Make a list from a tuple's items
>>> tmp.sort( ) # Sort the list
>>> tmp

['aa', 'bb', 'cc', 'dd']

In [133]:
>>> T = tuple(tmp) # Make a tuple from the list's items
>>> T

('aa', 'bb', 'cc', 'dd')

In [135]:
T = (1, 2, 3, 4, 5)
>>> L = [x + 20 for x in T]
>>> L

[21, 22, 23, 24, 25]